<% if current_user %>
  
  <div class="pull-right">
    Logged in as <%= current_user.email %>.
    <%= link_to "Log Out", logout_path %>
  </div>

<% else %>
  <%= link_to "Sign Up", signup_path %>
  <%= link_to "Log In", login_path %>
<% end %>

<br /><br /><br />

<h3><%= alert %></h3>

<div class="btn btn-success btn-large center">
  <%= link_to "SIGN UP", new_user_path, style: "color: white; text-align: right;" %>
</div>

<br /><br /><br />

<h3>Featured Spitfires</h3>
<table>
<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= link_to 'Show', user %></td>
    
    <% if allow? "users", "edit" %>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <% end %>

    <% if allow? "users", "destroy" %>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>

    <% if allow? "users", "edit" %>
    <td><%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %></td>
    <% end %>
  </tr>
<% end %>
</table>




