<p id="notice"><%= notice %></p>

<div class="profilepicture pull-left">
<%= image_tag @user.image_url if @user.image? %>
<%= form_for(@user) do |f| %>
  <%= f.file_field :image %>
  <%= f.submit "Update Photo" %>
<% end %>

<h2>Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
    <li><p>
      <%= friendship.friend.name %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </p></li>
  <% end %>
</ul>

<p><%= link_to "Find Friends", users_path %></p>

<h2>Friended by Users</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li><%= user.name %></li>
  <% end %>
</ul>
</div>

<div class="profilecontent">
<h1><%= @user.name %></h1>
<h2><%= @user.about %></h2>

<%= form_for(@user) do |f| %>
  <%= f.label :about, "About Me:" %>
  <%= f.text_field :about, value: "I am an ultramarathoner..." %>
<% end %>

<h3>Update Your Status:</h3>
<%= form_for(@user) do |f| %>
  <%= f.fields_for :microposts, @micropost do |c| %> 
    <%= c.text_field :content %>
  <% end %>
  
    <%= f.submit "Update Status" %>
    <br /><%= check_box_tag(:highfive) %><%= label_tag(:highfive, "Like") %>
  <% end %>

<h3>Latest Status Updates</h3>
<% @user.microposts.each do |f| %>
  <ul><%= f.content %></ul>
<% end %>

  
<h3>My Work-Outs:</h3>

<% @exercises.each do |f| %>
<%= f.exercise_name %>
<%= f.exercise_prescription %><br />
<% end %>

<br />
<h3>Comments</h3>
<%= link_to "Add A New Comment", [:new, @commentable, :comment] %>

<% @comments.each do |comment| %>
  <%= simple_format comment.content %>
<% end %>

<h3>Feed Items Go Here</h3>

<% @feed.each do |f| %>
  <ul><%= f.content %></ul>
  <p><%= f.user_id %></p>
<% end %>

<br /><br />
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>
