<h1>Listing exercises</h1>

<table>
  <tr>
    <th>Exercise name</th>
    <th>Exercise prescription</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exercises.each do |exercise| %>
  <tr>
    <td><%= exercise.exercise_name %></td>
    <td><%= exercise.exercise_prescription %></td>
    <td><%= link_to 'Show', exercise %></td>
    <td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
    <td><%= link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exercise', new_exercise_path %>
