<!DOCTYPE html>
<html>
<head>
  <title>Spitfire Athlete</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag "bootstrap-fileupload" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div class="container">

<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
  <a class="close" data-dismiss="alert">×</a>
  <%= msg %>
  </div>
<% end %>

<%= yield %>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
